.u-section-1 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 361px auto 0 72px;
}

.u-section-1 .u-text-2 {
  font-size: 6rem;
  font-weight: 900;
  margin: 0 auto 0 72px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  margin: 0 auto 0 72px;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  margin: 13px auto 0 63px;
}

.u-section-1 .u-image-1 {
  width: 414px;
  height: 414px;
  margin: -346px auto 60px 654px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 357px;
    margin-left: 1px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-left: 1px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-left: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-1 .u-image-1 {
    margin-top: -315px;
    margin-left: 526px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1073px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 653px;
    margin-left: 334px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 113px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 260px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 42px;
    margin-left: 286px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -702px;
    margin-left: 153px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1063px;
  }

  .u-section-1 .u-text-1 {
    margin-left: auto;
  }

  .u-section-1 .u-text-2 {
    font-size: 3.75rem;
    margin-left: auto;
  }

  .u-section-1 .u-text-3 {
    margin-left: 170px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: auto;
  }

  .u-section-1 .u-image-1 {
    margin-top: -638px;
    margin-left: 63px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 989px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 144px;
  }

  .u-section-1 .u-text-2 {
    font-size: 3rem;
    margin-left: 47px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 70px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 96px;
  }

  .u-section-1 .u-image-1 {
    height: 340px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: 416px auto 0 595px;
}

.u-section-2 .u-text-2 {
  margin: 8px 63px 0 595px;
}

.u-section-2 .u-image-1 {
  width: 531px;
  height: 569px;
  object-position: 0% 50%;
  margin: -377px auto 60px 44px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1267px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 686px;
    margin-right: 197px;
    margin-left: auto;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 5px;
    margin-right: -11px;
    margin-left: 470px;
  }

  .u-section-2 .u-image-1 {
    width: 465px;
    height: 448px;
    margin-top: -360px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-top: 765px;
    margin-left: 224px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 120px;
    margin-right: 120px;
  }

  .u-section-2 .u-image-1 {
    width: 592px;
    height: 592px;
    margin-top: -793px;
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1214px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 655px;
    margin-right: 148px;
    margin-left: 108px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-2 .u-image-1 {
    width: 540px;
    height: 435px;
    margin-top: -642px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1317px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 746px;
    margin-left: 12px;
    margin-right: 12px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 12px;
    margin-right: 12px;
  }

  .u-section-2 .u-image-1 {
    height: 365px;
    margin-top: -632px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 389px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  font-weight: normal;
  margin: 13px auto 0 0;
}

.u-section-3 .u-text-2 {
  font-weight: 400;
  margin: 7px 0 0;
}

.u-section-3 .u-text-3 {
  font-weight: normal;
  margin: 13px 0 0;
}

.u-section-3 .u-image-1 {
  min-height: 389px;
  background-image: url("images/fifif_no_txt.png");
  background-position: 0% 0%;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-layout-cell-1 {
    min-height: 321px;
  }

  .u-section-3 .u-image-1 {
    min-height: 321px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-image-1 {
    min-height: 246px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-1 {
    min-height: 369px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-image-1 {
    min-height: 232px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-4 .u-text-1 {
  margin: 132px auto 0 0;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 24px;
  margin-bottom: 60px;
}

.u-section-4 .u-image-1 {
  min-height: 675px;
  background-image: url("images/1631906241.buttermilkrusks_c7ac543e-d131-4bda-a0f4-9aa5c04ced51_yB2g4kS.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 675px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-text-2 {
  font-weight: 700;
  margin: 194px auto 0 93px;
}

.u-section-4 .u-text-3 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-4 .u-image-2 {
  width: 205px;
  height: 104px;
  margin: 25px auto 0;
}

.u-section-4 .u-text-4 {
  font-weight: 700;
  margin: 0 auto;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  font-size: 1rem;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-image-1 {
    min-height: 557px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 557px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-top: 125px;
    margin-left: auto;
  }

  .u-section-4 .u-text-3 {
    width: auto;
  }

  .u-section-4 .u-image-2 {
    margin-top: 84px;
  }

  .u-section-4 .u-text-4 {
    width: auto;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-image-1 {
    min-height: 427px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-4 .u-text-2 {
    margin-top: 108px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-3 {
    margin-top: -4px;
  }

  .u-section-4 .u-image-2 {
    margin-top: 47px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-image-1 {
    min-height: 641px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 100px;
  }

  .u-section-4 .u-text-3 {
    margin-top: 4px;
  }

  .u-section-4 .u-image-2 {
    margin-top: 46px;
    margin-left: 168px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-image-1 {
    min-height: 404px;
  }

  .u-section-4 .u-image-2 {
    margin-top: 13px;
    margin-left: auto;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 547px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-text-1 {
  font-weight: 400;
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-5 .u-text-2 {
  font-weight: 400;
  margin: 21px auto 0 0;
}

.u-section-5 .u-image-1 {
  min-height: 547px;
  background-image: url("images/olimpio_1_82sJatK1.png");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 451px;
  }

  .u-section-5 .u-image-1 {
    min-height: 451px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-image-1 {
    min-height: 345px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-1 {
    min-height: 518px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-image-1 {
    min-height: 326px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 1109px;
}

.u-section-6 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-6 .u-image-1 {
  min-height: 895px;
  background-image: url("images/image3.png");
  background-position: 50% 50%;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 895px;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px;
}

.u-section-6 .u-text-1 {
  font-weight: 700;
  margin: 0 auto 0 88px;
}

.u-section-6 .u-icon-1 {
  width: 40px;
  height: 40px;
  margin: 20px auto 0 88px;
}

.u-section-6 .u-text-2 {
  font-weight: 400;
  margin: -32px auto 0 138px;
}

.u-section-6 .u-icon-2 {
  width: 40px;
  height: 40px;
  color: rgb(0, 0, 0) !important;
  margin: 18px auto 0 88px;
}

.u-section-6 .u-text-3 {
  font-weight: 400;
  margin: -32px auto 7px 138px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 952px;
  }

  .u-section-6 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-6 .u-image-1 {
    min-height: 738px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 738px;
  }

  .u-section-6 .u-text-1 {
    margin-top: 189px;
    margin-left: 44px;
  }

  .u-section-6 .u-icon-1 {
    margin-left: 44px;
  }

  .u-section-6 .u-text-2 {
    width: auto;
    margin-left: 105px;
  }

  .u-section-6 .u-icon-2 {
    margin-top: 73px;
    margin-left: 44px;
  }

  .u-section-6 .u-text-3 {
    width: auto;
    margin-bottom: 0;
    margin-left: 105px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 779px;
  }

  .u-section-6 .u-image-1 {
    min-height: 565px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 636px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-6 .u-text-1 {
    width: auto;
    margin-right: 0;
    margin-left: 20px;
  }

  .u-section-6 .u-icon-1 {
    margin-left: 62px;
  }

  .u-section-6 .u-text-2 {
    margin-left: auto;
  }

  .u-section-6 .u-icon-2 {
    margin-top: 28px;
    margin-left: 62px;
  }

  .u-section-6 .u-text-3 {
    margin-top: -37px;
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1162px;
  }

  .u-section-6 .u-image-1 {
    min-height: 848px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 539px;
  }

  .u-section-6 .u-text-1 {
    margin-left: 96px;
  }

  .u-section-6 .u-icon-1 {
    margin-left: 137px;
  }

  .u-section-6 .u-icon-2 {
    margin-top: 80px;
    margin-left: 136px;
  }

  .u-section-6 .u-text-3 {
    margin-top: -40px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 848px;
  }

  .u-section-6 .u-image-1 {
    min-height: 534px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 461px;
  }

  .u-section-6 .u-text-1 {
    margin-left: 48px;
  }

  .u-section-6 .u-icon-1 {
    margin-left: 48px;
  }

  .u-section-6 .u-text-2 {
    margin-top: -33px;
    margin-right: 93px;
  }

  .u-section-6 .u-icon-2 {
    margin-top: 81px;
    margin-left: 48px;
  }

  .u-section-6 .u-text-3 {
    margin-top: -32px;
    margin-right: 93px;
  }
}