.u-section-1 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-1 .u-layout-wrap-1 {
  width: 873px;
  margin: 75px 120px 60px auto;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 459px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-1 .u-text-1 {
  text-align: left;
  font-size: 1.25rem;
  font-weight: 300;
  margin: 0 60px 0 0;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  font-size: 3rem;
  margin: 8px auto 0 0;
}

.u-section-1 .u-text-3 {
  text-align: left;
  font-size: 0.75rem;
  font-weight: 300;
  margin: 8px 60px 0 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 459px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-image-1 {
  height: 407px;
  object-position: 50% 46.43%;
  width: 444px;
  margin: 26px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 501px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 16px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 37px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 501px;
  }

  .u-section-1 .u-image-1 {
    height: 357px;
    width: 370px;
    margin-top: 77px;
    margin-left: 27px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-layout-wrap-1 {
    position: relative;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 33px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 413px;
  }

  .u-section-1 .u-image-1 {
    height: 336px;
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-layout-cell-1 {
    min-height: 164px;
  }

  .u-section-1 .u-text-1 {
    width: 87px;
    margin-top: 1px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-2 {
    margin-left: auto;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-right: 195px;
    margin-left: 188px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 641px;
  }

  .u-section-1 .u-image-1 {
    height: 521px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 27px;
    padding-bottom: 27px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 82px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 0;
    font-size: 1.875rem;
  }

  .u-section-1 .u-text-3 {
    margin-right: 95px;
    margin-left: 88px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 404px;
  }

  .u-section-1 .u-image-1 {
    height: 328px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-2 .u-image-1 {
  min-height: 434px;
  background-image: url("images/olympusmtp_Bday_Strem-removebg-preview.png");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 434px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  text-align: center;
  font-size: 1.5rem;
  margin: 8px auto 0 5px;
}

.u-section-2 .u-text-2 {
  font-weight: normal;
  font-size: 0.75rem;
  margin: 20px auto 0 5px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-2 .u-image-1 {
    min-height: 358px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 358px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-image-1 {
    min-height: 274px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 860px;
  }

  .u-section-2 .u-image-1 {
    min-height: 411px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 578px;
  }

  .u-section-2 .u-image-1 {
    min-height: 259px;
  }

  .u-section-2 .u-text-1 {
    margin-left: auto;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-3 .u-text-1 {
  font-style: normal;
  text-align: center;
  font-weight: 700;
  font-family: Dosis;
  font-size: 3.75rem;
  margin: 60px auto 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 700;
  font-style: normal;
  font-family: Roboto, sans-serif;
  margin: 11px auto 0;
}

.u-section-3 .u-text-3 {
  font-size: 0.875rem;
  font-weight: normal;
  font-family: "Open Sans", sans-serif;
  margin: 16px 98px 0;
}

.u-section-3 .u-btn-1 {
  letter-spacing: 0px;
  font-size: 0.875rem;
  border-style: solid;
  text-transform: uppercase;
  font-family: Dosis;
  font-weight: 700;
  margin: 16px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-3 {
    width: 749px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-3 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-3 .u-text-2 {
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-3 .u-text-3 {
    width: 340px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 650px;
}

.u-section-4 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-4 .u-text-1 {
  text-align: center;
  font-size: 1.5rem;
  margin: 0 auto 0 2px;
}

.u-section-4 .u-text-2 {
  font-size: 0.75rem;
  font-weight: normal;
  margin: 20px 0 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 650px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-image-1 {
  object-position: 50% 0%;
}

@media (max-width: 1199px) {
  .u-section-4 .u-layout-cell-1 {
    min-height: 536px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 536px;
  }

  .u-section-4 .u-container-layout-2 {
    padding: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-layout-cell-1 {
    min-height: 335px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 411px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-layout-cell-1 {
    min-height: 503px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 617px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-layout-cell-1 {
    min-height: 317px;
  }

  .u-section-4 .u-text-1 {
    margin-left: auto;
  }

  .u-section-4 .u-text-2 {
    margin-right: 2px;
    margin-left: 0;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 388px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 357px;
}

.u-section-5 .u-text-1 {
  font-weight: 800;
  margin: 60px auto 0;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 23px;
  margin-bottom: 60px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 113px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 30px 27px;
}

.u-section-5 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  margin: 10px 0 0 auto;
  padding: 8px 30px 9px;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 113px;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px 30px 27px;
}

.u-section-5 .u-btn-2 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  margin: 10px auto 0 0;
  padding: 8px 30px 9px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 337px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 93px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 93px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 344px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 444px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 60px;
  }

  .u-section-5 .u-container-layout-1 {
    padding: 24px 10px;
  }

  .u-section-5 .u-btn-1 {
    margin-top: 0;
    margin-right: auto;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 114px;
  }

  .u-section-5 .u-container-layout-2 {
    padding: 10px;
  }

  .u-section-5 .u-btn-2 {
    margin-top: 0;
    margin-left: auto;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-6 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-6 .u-image-1 {
  min-height: 530px;
  background-image: url("images/babysnake.PNG");
}

.u-section-6 .u-container-layout-1 {
  padding: 0;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 530px;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px;
}

.u-section-6 .u-text-1 {
  text-align: center;
  font-size: 1.5rem;
  margin: 139px auto 0 10px;
}

.u-section-6 .u-text-2 {
  font-size: 0.75rem;
  font-weight: normal;
  margin: 20px auto 0 10px;
}

.u-section-6 .u-text-3 {
  text-align: left;
  font-size: 0.75rem;
  font-weight: normal;
  margin: 20px 10px 0;
}

.u-section-6 .u-text-4 {
  text-align: left;
  font-size: 0.75rem;
  font-weight: normal;
  margin: 24px 10px 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-6 .u-image-1 {
    min-height: 437px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 437px;
  }

  .u-section-6 .u-text-3 {
    margin-right: 0;
  }

  .u-section-6 .u-text-4 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-image-1 {
    min-height: 335px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 860px;
  }

  .u-section-6 .u-image-1 {
    min-height: 503px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 578px;
  }

  .u-section-6 .u-image-1 {
    min-height: 317px;
  }
}.termina{
	font-family: termina;
	font-weight: 700;
}
.terminalight{
	font-family: termina;
	font-weight: 200;
}